extends project

block content
	h1.page-header Diagram
	div.placeholder
	h2.page-header FN
	div.row.placeholders
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN1")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN2")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN3")