extends layout-demo
include mixin-menu

block stylesheets
	link(rel="stylesheet",href="/stylesheets/graph.css")

block sidebar
	+menuOfActive('demo')

block content
	section.intro-section
		//h1(style="text-align:center;color:#428bca") å¼€å‘è€…ç¤¾äº¤ç½‘ç»œåˆ†æ
		h3 1. å¼€å‘è€…ç½‘ç»œå›¾çš„æ„å»ºï¼š
		blockquote(style="border-left: 3px solid #D0E5F2;padding: 0 0 0 10px;") å·¥ä½œæµä¾èµ–
		p å«ä¹‰ï¼šå°†å‚ä¸åŒä¸€æ¬¡ä¿®æ”¹ï¼ˆåŒ…æ‹¬æ·»åŠ æ–°åŠŸèƒ½å’Œå¯¹å·²æœ‰ä»£ç çš„ä¿®æ­£ï¼‰çš„å¤šä½å¼€å‘è€…è§†ä¸ºå­˜åœ¨å·¥ä½œæµä¾èµ–å…³ç³»ï¼Œè®¤ä¸ºè¾ƒæ™šæäº¤çš„å¼€å‘è€…ä¾èµ–äºè¾ƒæ—©æäº¤çš„å¼€å‘è€…ï¼Œè¯¥ä¾èµ–å…³ç³»æœ‰æ–¹å‘ã€‚å…¶åº¦é‡é‡‡ç”¨å·¥ä½œæµä¾èµ–çŸ©é˜µWD
		p å‚è€ƒå…¬å¼ä¸ºï¼š
			img(src="/images/formula-work.png",style="width:300px")
		p Degree centrality: ğ·ğ¶(ğ‘›ğ‘–, ğ‘€)=ğ‘‘(ğ‘›ğ‘–)     çŸ©é˜µMä¸­èŠ‚ç‚¹ğ‘›ğ‘–çš„è¿æ¥æ•°ï¼Œå–å€¼åœ¨[0, n-1]ã€‚
		blockquote(style="border-left: 3px solid #D0E5F2;padding: 0 0 0 10px;") åä½œå…³ç³»
		p å°†åœ¨åŒä¸€ä¸ªç‰ˆæœ¬çš„å¼€å‘ä¸­ä¿®æ”¹è¿‡åŒä¸€ä¸ªæ–‡ä»¶çš„å¤šä½å¼€å‘è€…è§†ä¸ºå­˜åœ¨åä½œå…³ç³»ï¼Œè¯¥å…³ç³»æ˜¯å¯¹ç§°çš„ï¼Œä¸å­˜åœ¨æ–¹å‘ã€‚
		blockquote(style="border-left: 3px solid #D0E5F2;padding: 0 0 0 10px;") äº¤æµå…³ç³»
		p å°†å‚ä¸åŒä¸€æ¬¡ä¿®æ”¹çš„è¯„è®ºä¸å›å¤çš„å¤šä½å¼€å‘è€…è§†ä¸ºå­˜åœ¨äº¤æµå…³ç³»ï¼Œè¯¥å…³ç³»äº¦æ˜¯æ— å‘çš„ã€‚
		h3 å°†ä¸Šè¿°ä¸‰ç§å…³ç³»æ‰€è¿°çŸ©é˜µè½¬æ¢ä¸ºå›¾ï¼Œåˆ™æ¯ä¸ªèŠ‚ç‚¹ä»£è¡¨å¼€å‘è€…ï¼Œä¸¤ç‚¹ä¹‹é—´çš„è¿çº¿ä»£è¡¨ä¾èµ–å…³ç³»ã€‚
	div.row(style="margin: 0 auto")
		section.image-section.col-md-6
			img(src="/images/opengraph.png",style="height:300px")
		section.image-section.col-md-6
			img(src="/images/weightedgraph.png",style="height:300px")
	section.title-section
		a.btn.btn-lg.btn-wordpress(style="",href="/demo/wordpress",id="wordpress") Wordpress
		a.btn.btn-lg.btn-trac.active(style="",href="/demo/trac",id="trac") Trac