extends layout

block content
    h1.cover-heading About...
    p.lead Software Maintenance System Based on Social Networking for Developers
    p.lead
        a.btn.btn-lg.btn-default(href="/demo/wordpress") Demo-Wordpress
        a.btn.btn-lg.btn-default(href="/demo/trac") Demo-Trac
        button.btn.btn-lg.btn-default(id="test",style="display:none") test
                


