doctype html
html(lang=en)
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/se.css')
    link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="shortcut icon",href="favicon.ico",type="image/x-icon")
  body
    div.site-wrapper
      div.site-wrapper-inner
        div.cover-container
            header.masthead.clearfix
                div.inner
                h3.masthead-brand Senior Project By jtGao

            article.inner.cover
                block content
            footer.mastfoot
                div.inner
                    p © 2014 jtGao | All Rights Reserved.
    script(src="/javascripts/jquery-1.11.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //script(src="/socket.io/socket.io.js")
    //script(src="/javascripts/se-socket.js")

