extends project

block content
	h1.page-header Relations
	div.placeholder
	h2.page-header FN
	div.row.placeholders
		div.input-group.se-input-group
			button.btn.btn-lg Upload Project Files and Generate FNs
				input(type="file" ,style="opacity:0;position:absolute;left:0;top:0")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN1")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN2")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN3")
	h2.page-header DN
	div.row.placeholders
		div.input-group.se-input-group
			button.btn.btn-lg Generate DNs
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="DN1")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN2")
		div.col-xs-12.col-sm-6.col-md-4.placeholder
			img(alt="FN3")